/**
 * Custom theme colors
 * Main brand color: #ffd48c
 */

:root {
  --vp-c-brand-1: #daa347;
  --vp-c-brand-2: #ffca70;
  --vp-c-brand-3: #e6b870;
  --vp-c-brand-soft: rgba(255, 212, 140, 0.14);
}

.dark {
  --vp-c-brand-1: #ffd48c;
  --vp-c-brand-2: #ffca70;
  --vp-c-brand-3: #ab884b;
  --vp-c-brand-soft: rgba(255, 212, 140, 0.16);
}
